.AdminDashboard {
    
}

.AdminDashboard__paper {
    margin: 12vh 10vw 12vh 10vw;
    padding: 50px;
    min-height: 60vh;
}

.AdminDashboard__title {
    font-size: 2.5rem;
    color: #294c6e;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
}

.AdminDashboard__button {
    background-color: rgb(10, 32, 65);
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 2rem;
}

@media only screen and (max-width: 768px) {
    .AdminDashboard__paper {
        margin: 12vh 5vw 12vh 5vw;
        padding: 50px 20px;
        min-height: 60vh;
    }

}