.AdminTablePage {

}

.AdminTablePage__paper {
    margin: 12vh 10vw 12vh 10vw;
    padding: 70px;
    position: relative;
}

.AdminTablePage__table {
    border-top: solid 2px #294c6e;
    border-bottom: solid 2px #294c6e;
    display: flex;
    flex-direction: column-reverse;
    transition: all 200ms linear;
    overflow-y: hidden;
    justify-content: flex-start;
    height: auto;
}

.AdminTablePage__backButton {
    position: absolute;
    top: 30px;
    left: 30px;
}

.AdminTablePage__title {
    font-size: 2.5rem;
    color: #294c6e;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.AdminTablePage__subTitle {
    font-size: 1.5rem;
    color: #294c6e;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
}

.AdminTablePage__noLogs {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #294c6e;
    font-size: 1.2rem;

}

.AdminTablePage__activeCount {
    position: absolute;
    top: 90px;
    font-size: 60px;
    font-weight: bold;
    color: rgb(76, 175, 80);
    border: solid 8px rgb(76, 175, 80);;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.AdminTablePage__datePicker {
    width: 200px;
}

.AdminTablePage__actionRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: -10px;
}

.AdminTablePage__actions {
    display: flex;
    margin-left: -10px;
}

.AdminTablePage__actionButton {
    /*height: 50%;*/
}

.AdminTablePage__reportLoading {
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-right: 14px;
}

@media only screen and (max-width: 870px) {
    .AdminTablePage__activeCount {
        top: 180px;
        left: 50%;
        margin-left: -30px;
        font-size: 35px;
        border: solid 5px rgb(76, 175, 80);;
        width: 60px;
        height: 60px;
        border-radius: 200px;
    }

    .AdminTablePage__subTitle {
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .AdminTablePage__backButton {
        top: 10px;
        left: 10px;
    }

    .AdminTablePage__paper {
        margin: 12vh 5vw 12vh 5vw;
        padding: 50px 20px;
    }

    .AdminTablePage__activeCount {
        top: 160px;
    }
}