.CompletedCheckIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 70px 20px;
}

.CompletedCheckIn__wardText {
    font-size: 1.8rem;
    color: #294c6e;
    margin-bottom: 5px;
}

.CompletedCheckIn__date {
    font-size: 3rem;
    color: #294c6e;
    font-weight: bold;
    margin-bottom: 20px;
}

.CompletedCheckIn__peopleCount {
    font-size: 120px;
    font-weight: bold;
    color: rgb(76, 175, 80);
    border: solid 17px rgb(76, 175, 80);;
    width: 190px;
    height: 190px;
    text-align: center;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.CompletedCheckIn__name {
    text-align: center;
    font-size: 2rem;
    color: #294c6e;
    margin-bottom: 5px;
}

.CompletedCheckIn__nameField {
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
}

.CompletedCheckIn__saveName {
    height: 25px;
}

.CompletedCheckIn__checkOut {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    width: 100%;
}

@media only screen and (max-width: 520px) {
    .CompletedCheckIn__date {
        font-size: 9vw;
    }

}