.LoginPage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    width: 100%;
    position: relative;
}

.LoginPage__content {
    width: min(500px, 90%);
}

.LoginPage__paper {
    margin-bottom: 50px;
    margin-top: 50px;
}

.LoginPage__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.LoginPage__title {
    margin-top: 40px;
    font-size: 2.5rem;
    color: #294c6e;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.LoginPage__fields {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 80%;
}

.LoginPage__input {
    margin-top: 20px;
    width: 100%;
}

.LoginPage__loginButton {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .LoginPage {
        width: 100%;
        align-items: flex-start;
    }

    .LoginPage__content {
        padding-top: 5vh;
    }
}