.LogRow {
    flex-shrink: 0;
    border-bottom: solid 1px #294c6e;
    padding: 0 20px 0 20px;
}

.LogRow__defaultRow {
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.LogRow__expandedRow {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.LogRow__expandedRowItem {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

.LogRow__itemTitle {
    font-weight: bold;
    margin-right: 30px;
    width: 150px;
}

.LogRow--active {
    /*background-color: #4caf50;*/
}

.LogRow--last {
    border-bottom: none;
}

.LogRow__date {
    width: 30%;
}

.LogRow__name {
    width: 40%;
}

.LogRow__ward {
    width: 30%;
}

.LogRow__reason {
    width: 30%;
    text-align: right;
}

.LogRow__mobileOnly {
    display: none;
}

.LogRow__delete {
    position: absolute;
    right: 0;
    top: 0;
}

@media only screen and (max-width: 768px) {
    .LogRow {
        /*flex-direction: column;*/
        padding: 0 10px 0 10px;
    }

    .LogRow__date {
        width: 20%;
    }

    .LogRow__name {
        width: 60%;
    }

    .LogRow__ward {
        display: none;
    }

    .LogRow__reason {
        display: none;
    }

    .LogRow__expandedRowItem {
        display: block;
        margin-bottom: 10px;
    }

    .LogRow__mobileOnly {
        display: block;
    }
}