.MemberPage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    width: 100%;
    position: relative;
}

.MemberPage__content {
    width: min(500px, 90%);
}

.MemberPage__paper {
    margin-bottom: 50px;
    margin-top: 50px;
    /*padding: 60px 30px;*/
}

@media only screen and (max-width: 768px) {
    .MemberPage {
        width: 100%;
        align-items: flex-start;
    }

    .MemberPage__content {
        padding-top: 5vh;
    }
}