.MemberForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: relative;;
}

.MemberForm__chapelTitle {
    font-size: 2.5rem;
    color: #294c6e;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.MemberForm__form {
    padding: 30px 0 60px 0;
    width: 80%;
}

.MemberForm__anotherNameButton {
    margin-top: 10px;
}

.MemberForm__inputRow {
    margin-top: 10px;
    width: 100%;
}

.MemberForm__rememberDetails {
    margin-top: 10px;
}

.MemberForm__sendButton {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    width: 100%;
}

.MemberForm__refreshButton {
    position: absolute;
    top: 5px;
    right: 5px;
}

.MemberForm__additionalName {
    position: relative;
}

.MemberForm__deleteAdditionalName {
    position: absolute;
    right: 0;
    top: 20px;
}

@media only screen and (max-width: 400px) {
    .MemberForm__refreshButton {
        top: -5px;
        right: -5px;
    }
}