@font-face {
  font-family: 'Calibri';
  src: url('./assets/fonts/Calibri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('./assets/fonts/Calibri-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.App {
  background-color: #294c6e;
  background-image: url('./assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: auto;
  font-family: Calibri;
}


@media only screen and (max-width: 768px) {
  .App {
    background-color: #294c6e;
    background-image: url('assets/images/background.jpg');
  }
}